* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    /* background-color: rgba(0, 0, 0, .8); */
    overflow-x: hidden;
      /* font-family: 'Aldrich', sans-serif; */
  /* font-family: 'Quantico', sans-serif; */
  /* font-family: 'Electrolize', sans-serif; */
  /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Turret Road', cursive;
  /* font-family: 'Rationale', sans-serif; */
  /* font-family: 'Iceland', cursive; */
  /* font-weight: 700; */
    scroll-behavior: smooth;
  }



@media (min-width: 1281px) {
    * {
        font-size: 16px;
    }
}

@media (max-width: 1280px) {
    * {
        font-size: 15px;
    }
}

@media (max-width: 1024px) {
    * {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    * {
        font-size: 13px;
    }
}

@media (max-width: 640px) {
    * {
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    * {
        font-size: 11px;
    }
}

@media (max-width: 320px) {
    * {
        font-size: 10px;
    }
}