body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(0, 0, 0, .8);
    overflow-x: hidden;
      /* font-family: 'Aldrich', sans-serif; */
  /* font-family: 'Quantico', sans-serif; */
  /* font-family: 'Electrolize', sans-serif; */
  /* font-family: 'Chakra Petch', sans-serif; */
    font-family: 'Turret Road', cursive;
  /* font-family: 'Rationale', sans-serif; */
  /* font-family: 'Iceland', cursive; */
  /* font-weight: 700; */
  }